.outerContainer {
  margin-bottom: 100px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-family: "Patrick Hand", cursive;
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.infoText {
  margin: 20px;
}

.GPContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-evenly;
  align-content: center;
}

.individualGP {
  text-decoration: none;
  color: #000000;
}

.individualGP:hover {
  color: #98c01f;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.GPName {
  font-family: "Patrick Hand", cursive;
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-decoration: none;
}

.GPImage {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;
  height: 45%;
  width: 65%;
}

@media only screen and (max-width: 768px) {
  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .GPContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-family: "Patrick Hand", cursive;
    font-size: 25px;
    margin: 40px;
  }

  .infoText {
    margin: 20px;
  }

  .GPName {
    font-family: "Patrick Hand", cursive;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .GPImage {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 30px;
    height: 40%;
    width: 60%;
  }
}
